.accordion {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    &__header {
        border-bottom: 1px solid var(--light-gray-color);
        cursor: default;
        padding: .625rem 3.8rem .625rem 1.25rem;
        position: relative;
    }

    &__title {
        margin-bottom: 0;
    }

    &__button {
        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20ver%3D%221.1%22%20viewBox%3D%225080.701%201119.615%2024.66%2013.745%22%3E%3Cpath%20style%3D%22fill%3A%20none%3B%20stroke%3A%20rgb(48%2C%20134%2C%20230)%3B%20stroke-width%3A%202px%3B%22%20d%3D%22M5081.408%201120.322l11.623%2011.623%2011.624-11.623%22%20%2F%3E%3C%2Fsvg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.3em 1.3em;
        cursor: pointer;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        transition: all .15s cubic-bezier(.23, 1, .32, 1);
        width: 3.8rem;
    }

    &__content {
        display: none;
        margin-top: .625rem;
        padding: .625rem 1.25rem;
    }

    &[aria-expanded='false'] &__button {
        transform: rotate(0deg);
    }

    &[aria-expanded='true'] &__content {
        display: block;
    }
}

.accordions {
    &__item {
        border-bottom-width: 0;
        border-radius: 0;

        &:first-child {
            border-radius: 2px 2px 0 0;
        }

        &:last-child {
            border-bottom-width: 1px;
            border-radius: 0 0 2px 2px;
        }
    }
}
