.accordion {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    &__header {
        border-bottom: 1px solid var(--light-gray-color);
        cursor: default;
        padding: .625rem 3.8rem .625rem 1.25rem;
        position: relative;
    }

    &__button {
        background-image: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' ver='1.1' viewBox='5080.701 1119.615 24.66 13.745'><path style='fill: none; stroke: rgb%2848, 134, 230%29; stroke-width: 2px;' d='M5081.408 1120.322l11.623 11.623 11.624-11.623' /></svg>");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1.3em 1.3em;
        content: '';
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        font-weight: 400;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: rotate(180deg);
        transition: all .15s cubic-bezier(.23, 1, .32, 1);
        width: 3.8rem;

        /* hack for IE11 */
        @media screen and (min-width: 0\0) {
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAYAAADaOrdAAAAAAXNSR0IArs4c6QAAAOFJREFUOBGt09ENgjAQANA7giboDwnsIRsYN3AE/NYfN3ADfuy3MomOoIOY8AMmhHj20BgJFFrr/UDba1+PHOCLMgr3xclPyIc/RiDucSDyAx+JoSjO8jkHoEtVThbZFjNesAkGEKgGCHDlVKW3BKKr9CJ3bF9RAyBKb2vviHxj/lTuSFaEOLOpqAVspjGfXyP8YgupgAZiA/UBLeQXaAjoREwgHUCJ6EC6QC/SB5kAg0gX9CBMHYSE14j/g3eb8lgVnxZWJfB8s71fmboAZ2shnPgNmQC81ygYCkW+M9okk5+VctLnM7my1gAAAABJRU5ErkJggg==');
            background-size: 1.3em .8em;
        }
    }

    &__content {
        display: none;
        margin-top: .625rem;
        padding: .625rem 1.25rem;
    }

    &[aria-expanded='false'] &__button {
        transform: rotate(0deg);
    }

    &[aria-expanded='true'] &__content {
        display: block;
    }
}

.accordions {
    &__item {
        border-bottom-width: 0;
        border-radius: 0;

        &:first-child {
            border-radius: 2px 2px 0 0;
        }

        &:last-child {
            border-bottom-width: 1px;
            border-radius: 0 0 2px 2px;
        }
    }
}
