.decolink,
.button {
    @apply --button;

    background: var(--primary-color-gradient);
    border-radius: var(--border-radius);
    color: var(--white-color);
    margin-right: 1rem;
    vertical-align: bottom;

    &:hover {
        background: var(--primary-color-grad-to);
        color: var(--white-color);
    }

    &:active {
        background: var(--primary-color);
        color: var(--white-color);
    }

    &--reversed {
        background: var(--white-color);
        border: 1px solid var(--primary-color);
        color: var(--primary-color);

        &:hover {
            background: var(--whity-gray-color);
            color: var(--primary-color);
        }
    }

    &--large {
        font-size: 1.6rem;
    }

    &--regular {
        font-size: 1rem;
    }

    &--small {
        font-size: .8rem;
    }

    &--rounded {
        border-radius: calc(2.1875em / 2);
    }

    &--fullwidth {
        width: 100%;

        &::before,
        &::after {
            content: '';
            display: block;
            margin: auto;
        }
    }

    &--disable,
    &--disable:hover {
        background: var(--whity-gray-color);
        color: var(--light-gray-color);
        cursor: default;
    }
}

.decolinks,
.buttons {
    display: flex;

    &__item {
        border-radius: 0;
        margin: 0;

        &:first-child {
            border-radius: 2px 0 0 2px;
        }

        &:last-child {
            border-radius: 0 2px 2px 0;
        }

        &.button--reversed {
            border-right-width: 0;

            &:last-child {
                border-right-width: 1px;
            }
        }

        &.dropmenu {
            & > .dropmenu__button {
                border-radius: 0;
            }

            &:first-child > .dropmenu__button {
                border-radius: 2px 0 0 2px;
            }

            &:last-child > .dropmenu__button {
                border-radius: 0 2px 2px 0;
            }
        }
    }
}
