html[lang='ko'] {
    font-family: 'Avenir Next', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;

    & .serif {
        font-family: 'Times New Roman', 'AppleMyungjo', 'Gungsuh', serif;
    }

    & :matches(.alert, .pagination, .breadcrumbs, .decolink, .button, .uifont) {
        font-family: '-apple-system', 'BlinkMacSystemFont', 'Avenir Next', 'Segoe UI', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
    }
}
