.text-center {
    text-align: center;

    @media (--tablet) {
        &--only_mobile {
            text-align: left;
        }
    }
}

.split {
    @media (--tablet) {
        column-count: 2;
    }
}

.hide-mobile {
    @media (--phone-below) {
        display: none !important;
    }
}

.hide-pc {
    @media (--wide) {
        display: none !important;
    }
}

.gridtest {
    background: var(--primary-color-gradient);
    border-radius: var(--border-radius);
    color: var(--white-color);
    margin: 1rem;
}

.marginright {
    line-height: 1;
    margin-right: .4rem;
}

.icon {
    fill: currentColor;
    height: 1em;
    width: 1em;
}

.fa.fa-lg {
    line-height: 1;
    vertical-align: initial;
}
