.hero {
    @apply --hero-initial;
    @apply --hero-size-normal;
    @apply --hero-size-large-tablet;

    background: var(--white-color);

    &--small {
        @apply --hero-size-small;
        @apply --hero-size-normal-tablet;
    }

    &--full {
        @apply --hero-full;
    }

    &--colored {
        background: var(--primary-color-gradient);
        color: var(--white-color);
    }

    &--black {
        background: var(--dark-gray-color);
        color: var(--white-color);
    }

    &--gray {
        background: var(--whity-gray-color);
    }

    &--picture {
        @apply --hero-picture;
    }
}
