*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: var(--std-size);
    padding: 0;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.bezel {
    background: var(--white-color);
    margin: 0;
    padding: 2rem 0;
    position: relative;

    &--colored {
        background: var(--primary-color-gradient);
        color: var(--white-color);
    }

    &--black {
        background: var(--dark-gray-color);
        color: var(--white-color);
    }

    &--gray {
        background: var(--whity-gray-color);
    }
}
