.bezel {
    @apply --bezel-initial;
    @apply --bezel-normal;

    background: var(--white-color);

    &--colored {
        background: var(--primary-color-gradient);
        color: var(--white-color);
    }

    &--black {
        background: var(--dark-gray-color);
        color: var(--white-color);
    }

    &--gray {
        background: var(--whity-gray-color);
    }
}
