label {
    display: block;
    margin-right: 1rem;
}

input {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    display: block;
    font-size: 1rem;
    font-weight: 300;
    height: 2.625em;
    padding: .1rem .8rem;

    &[type='checkbox'],
    &[type='radio'] {
        display: inline-block;
        height: 1rem;
        margin-right: .6rem;

        &:focus {
            border: 0;
        }
    }

    &[type='color'] {
        height: 2rem;
        width: 5rem;
    }

    &[type='file'] {
        align-items: center;
        border: none;
        display: flex;
        height: auto;
        padding: 0;
    }

    &[type='submit'] {
        align-items: center;
        background: var(--primary-color-gradient);
        border: none;
        border-radius: var(--border-radius);
        color: var(--white-color);
        display: inline-flex;
        font-weight: 300;
        height: 2.2em;
        justify-content: center;
        padding: .1em .8em 0;
        text-decoration: none;
        vertical-align: top;
    }

    &[disabled] {
        background: var(--whity-gray-color);
    }

    &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
    }

    &.fullwidth {
        width: 100%;
    }
}

select {
    background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20ver%3D%221.1%22%20viewBox%3D%225080.701%201119.615%2024.66%2013.745%22%3E%3Cpath%20style%3D%22fill%3A%20none%3B%20stroke%3A%20%23fff%3B%20stroke-width%3A%202px%3B%22%20d%3D%22M5081.408%201120.322l11.623%2011.623%2011.624-11.623%22%20%2F%3E%3C%2Fsvg%3E"), var(--primary-color-gradient);
    background-position: right .8em center, right;
    background-size: 1.3em 1.3em, 3em 100%;
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    height: 2.625em;
    min-width: 16rem;
    padding: .1em 4em .1em .8em;
    position: relative;

    &::after {
        background: var(--primary-color);
        content: '';
        display: block;
        height: 100%;
        width: 2rem;
    }

    &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
    }

    &.whity {
        background-image: url("data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20ver%3D%221.1%22%20viewBox%3D%225080.701%201119.615%2024.66%2013.745%22%3E%3Cpath%20style%3D%22fill%3A%20none%3B%20stroke%3A%20rgb(48%2C%20134%2C%20230)%3B%20stroke-width%3A%202px%3B%22%20d%3D%22M5081.408%201120.322l11.623%2011.623%2011.624-11.623%22%20%2F%3E%3C%2Fsvg%3E");
        background-position: right .8em center;
        background-size: 1.3em 1.3em;
    }
}

textarea {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    font-size: 1rem;
    font-weight: 300;
    max-width: 100%;
    padding: .6rem .8rem;
    width: 100%;

    &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
    }
}

fieldset {
    border: 0;
}

fieldset.column > label,
fieldset.column > input {
    display: inline-block;
}
