label {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

label.radio,
label.checkbox {
    align-items: center;
    flex-direction: row;
}

label.submit {
    justify-content: flex-start;
}

input {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 300;
    height: 2.2em;
    padding: .1rem .8rem;
}

input[type='checkbox'],
input[type='radio'] {
    margin: 0 1rem;
}

input[type='color'] {
    height: 2rem;
    width: 5rem;
}

input[type='file'] {
    align-items: center;
    border: none;
    display: flex;
    height: auto;
    padding: 0;
}

input[type='submit'] {
    align-items: center;
    background: var(--primary-color-gradient);
    border: none;
    border-radius: var(--border-radius);
    color: var(--white-color);
    display: inline-flex;
    font-weight: 300;
    height: 2.2em;
    justify-content: center;
    padding: .1em .8em 0;
    text-decoration: none;
    vertical-align: top;
}

input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}

select {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='5080.701 1119.615 24.66 13.745'><defs><style>.cls-1 {fill: none;stroke: #fff;stroke-width: 2px;}</style></defs><path class='cls-1' d='M429.408,422.322l11.623,11.623,11.623-11.623' transform='translate(4652 698)'/></svg>"), var(--primary-color-gradient);
    background-position: right .8rem center, right;
    background-size: 1.3rem 1.3rem, 3rem 100%;
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 400;
    height: 2.2em;
    min-width: 16rem;
    padding: .1rem .8rem;
    padding-right: 4rem;
    position: relative;

    &::after {
        background: var(--primary-color);
        content: '';
        display: block;
        height: 100%;
        width: 2rem;
    }

    &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
    }
}

select.whity {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='5080.701 1119.615 24.66 13.745'><defs><style>.cls-1 {fill: none;stroke: #3086E6;stroke-width: 2px;}</style></defs><path class='cls-1' d='M429.408,422.322l11.623,11.623,11.623-11.623' transform='translate(4652 698)'/></svg>");
    background-position: right .8rem center;
    background-size: 1.3rem 1.3rem;
}

select {
    @media screen and (min-width: 0\0) {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAYAAADaOrdAAAAAAXNSR0IArs4c6QAAAIZJREFUOBGt04EJgCAQBVBHcJRGcoRGaJPcpDaojewb/pCgPL07+JxG3NMgl1KakA3xzrAwLyDrPRKLHcl1ICYQ5mSAFRxWHjnLEzWEOTUQn49jBX0ClLRQE9BCYmAU6gZ6oWFACqmBFmQG/EAzEFbke+qOifUPaw/whC/I7gYE2Au0cC/tF/REfFeNVHCIAAAAAElFTkSuQmCC'), var(--primary-color-gradient);
        background-size: 1.3rem .8rem, 3rem 100%;
    }
}

select.whity {
    @media screen and (min-width: 0\0) {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAYAAADaOrdAAAAAAXNSR0IArs4c6QAAAOFJREFUOBGt09ENgjAQANA7giboDwnsIRsYN3AE/NYfN3ADfuy3MomOoIOY8AMmhHj20BgJFFrr/UDba1+PHOCLMgr3xclPyIc/RiDucSDyAx+JoSjO8jkHoEtVThbZFjNesAkGEKgGCHDlVKW3BKKr9CJ3bF9RAyBKb2vviHxj/lTuSFaEOLOpqAVspjGfXyP8YgupgAZiA/UBLeQXaAjoREwgHUCJ6EC6QC/SB5kAg0gX9CBMHYSE14j/g3eb8lgVnxZWJfB8s71fmboAZ2shnPgNmQC81ygYCkW+M9okk5+VctLnM7my1gAAAABJRU5ErkJggg==');
        background-position: right .8rem;
        background-size: 1.3rem .8rem;
    }
}

textarea {
    border: 1px solid var(--light-gray-color);
    border-radius: var(--border-radius);
    display: inline-flex;
    font-size: 1rem;
    font-weight: 300;
    max-width: 100%;
    padding: .6rem .8rem;
}

textarea:focus {
    border: 1px solid var(--primary-color);
    outline: none;
}
