.columns,
.C {
    display: flex;
    flex-direction: column;

    @media (--tablet) {
        &:not(&--column) {
            flex-direction: row;
        }
    }

    &--column {
        & > .c {
            flex-basis: auto;
            flex-grow: 1;
        }
    }

    &--vertical-centered {
        align-items: center;
    }

    &--horizontal-centered {
        justify-content: center;
    }

    &--mobile {
        flex-direction: row;

        & > .columns__item,
        & > .c {
            flex: 0 1 100%;

            &--2x {
                flex: 0 1 200%;
            }

            &--3x {
                flex: 0 1 300%;
            }

            &--4x {
                flex: 0 1 400%;
            }

            &--half {
                flex: 0 1 50%;
            }

            &--third {
                flex: 0 1 calc(100% / 3);
            }

            &--quarter {
                flex: 0 1 50%;

                @media (--tablet) {
                    flex: 0 1 25%;
                }
            }

            &--fixed {
                flex: 0 0 var(--fixed-column-width);
            }
        }
    }

    &--wrapped {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.columns__item,
.c {
    flex: 0 0 auto;

    @media (--tablet) {
        flex: 0 1 100%;

        &--2x {
            flex: 0 1 200%;
        }

        &--3x {
            flex: 0 1 300%;
        }

        &--4x {
            flex: 0 1 400%;
        }

        &--half {
            flex: 0 1 50%;
        }

        &--third {
            flex: 0 1 calc(100% / 3);
        }

        &--quarter {
            flex: 0 1 25%;
        }

        &--fixed {
            flex: 0 0 var(--fixed-column-width);
        }

        &--order-left-pc {
            order: -1;
        }

        &--order-right-pc {
            order: 9999;
        }
    }
}

.iamcenter {
    align-items: center;
    display: inline-flex;
    height: 100%;
}
